<!DOCTYPE html>
<html>
    <head>
        <title>Template Base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h2>Hola mundo desde Django</h2>
        <h3>Con Templates</h3>
        <p>
            {{myText}},
            {{myNumber}}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>{{forloop.counter}} - {{ myItem }}
                {% if myItem == 33 %}
                    - Este número es mágico
                {% elif myItem > 50 %}
                    - Este número es mayor que 50
                {% elif myItem < 10 %}
                    - Este número es menor que 10
                {% elif myItem >= 20 and myItem <= 30 %}
                    - Este número está entre 20 y 30 (inclusive)
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>