<!DOCTYPE html>
<html>
    <head>
        <title>Template Base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h2>Hola mundo desde Django</h2>
        <h3>Con Templates</h3>
        <p>
            {{myText}},
            {{myNumber}}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>
                    Iteración: {{forloop.counter}}<br>
                    Iteración (comienza en 0): {{ forloop.counter0 }}<br>
                    Iteraciones restantes: {{ forloop.revcounter }}<br>
                    Iteraciones restantes (comienza en 0): {{ forloop.revcounter0 }}<br>
                    ¿Primera iteración?: {{ forloop.first }}<br>
                </li>
            {% endfor %}
        </ul/>
        {% endblock %}
    </body>
</html>