<!DOCTYPE html>
<html>
    <head>
        <title>Template Base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h2>Hola mundo desde Django</h2>
        <h3>Con Templates</h3>
        <p>
            {{myText|upper}},
            {{myNumber}}
        </p>
        <p>
            Mi texto en minúsculas: {{ myText|lower }}
            <br>
            Longitud de myText: {{ myText|length }}
            <br>
            Fecha formateada: {{ myDate|date:"D d M Y" }}
            <br>
            Tiempo desde la fecha: {{ myDate|timesince }}
        </p>
        <ul>
            {% for myItem in myList %}
                <li>{{forloop.counter}} - {{ myItem }}
                {% if myItem == 33 %}
                    - Este número es mágico
                {% elif myItem > 50 %}
                    - Este número es mayor que 50
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>